<h2 class="user-show-header">Upload a new Animal</h2>


<div>
  <form method="POST" action="/animals">
    <input class="block w-70 mar-t-2 mar-b-2 pad-1 center" type="text"   name="animal[name]" placeholder="name">
    <input class="block w-70 mar-t-2 mar-b-2 pad-1 center" type="text"   name="animal[species]" placeholder="species">
    <input class="block w-70 mar-t-2 mar-b-2 pad-1 center" type="text"   name="animal[image_url]" placeholder="Image">
    <input class="block w-70 mar-t-2 mar-b-3 pad-2 round-1 text-c   submit center" type="submit" value="Make!">
  </form>
</div>


