<h1 class="main-header">NUZZLR: A PLACE TO VIRTUALLY NUZZLE AMAZINGLY CUTE ANIMALS</h1>


<div class="index-nav">
  <nav>
    <a href="/animals">View All Animals</a>
    <a href="/animals/new">Upload a new animal</a>
  </nav>
</div>